.busWhySet-form{
    textarea {
        margin-bottom: 0 !important;
    }
}
.whySet-delete{
    .ant-modal-confirm{
        .ant-modal-body{
            padding: 40px !important;
        }
    } 
}

/* .ant-modal-confirm-warning .ant-modal-confirm-body > .anticon, .ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
    color: #faad14 !important;
} */
    
