/* $fff:#FFFFFF;
$c66:#666666;
$e8e:#EEEEEE; */
@import "./../../colorConfig";
.project-main-box{
    width:975px;
    //height: 800px;
    min-height: 644px;
    margin-left: 15px;
    margin-bottom: 47px;
    background:$fff;
    .project-main-container{
        min-height: 100%;
        margin: 0 15px;
        .project-search-box{
            padding: 25px 0;
            //padding-left: 19px;
            color: #333;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .project-search-input{
                flex: 1;
                display: flex;
                flex-direction: row;
                font-size: 14px;
                line-height: 30px;
                .input-box{
                    input{
                        border-radius: 0px;
                    }
                    .name{
                        width: 230px;
                    }
                    .manager{
                        width: 122px;
                    }
                    .data{
                        width: 230px;
                        .ant-input{
                            border-radius: 0px !important;
                        }
                        
                    }
                    margin-right: 10px;
                }
            }
            .project-search-btn{
                button{
                    width: 70px;
                    height: 32px;
                    border-radius: 4px;
                    margin-left: 10px;
                    margin-right: 14px;
                }
                button:first-child{
                    margin-left: 0  ;
                }
            }
        }
        .table-title{
            color: #333;
            margin-top: 0;
        }
        .table-box{
            .operation{
                span{
                    margin-right: 10px;
                    color: $B2277E6;
                    cursor: pointer;
                }
            }
        }
    }
    .project-page{
        /* position: relative;
        text-align: center;
        margin: -60px auto 0; */
        // padding-top: 40px;
        text-align: center;
        margin-top: 50px;
        padding-bottom: 50px;
        .ant-pagination-item-link{
            padding: 0 10px;
        }
    }
}
.busUser-edit-model{
    .project-btn{
        /* text-align: left;
        margin-left: 139px; */
        text-align: center;
    }
}