@import "./../../colorConfig";
.father-orders-details-warp{
  width: 100%;
  .father-order-head-box{
    background: $fff;
    padding: 40px;
  }
  .father-order-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    div{
      flex: 1;
      em{
        display: block;
        width: 42px;
        height: 42px;
        background: url(./../../image/submit.png) no-repeat;
        background-size: 100% 100%;
        margin-bottom: 8px;
        margin-left:10px;
        &.payment{
          background: url(./../../image/c-payment.png) no-repeat;
          background-size: 100% 100%;
        }
        &.delivery{
          background: url(./../../image/c-delivery.png) no-repeat;
          background-size: 100% 100%;
        }
        &.transport{
        //   width: 45px;
        //   height: 30px;
        //   margin-left: 0;
          background: url(./../../image/transport.png) no-repeat;
          background-size: 100% 100%;
        }
        &.deal{
          background: url(./../../image/c-deal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.cancel{
          background: url(./../../image/c-cancel.png) no-repeat;
          background-size: 100% 100%;
        }
        &.rejected{
          background: url(./../../image/c-rejected.png) no-repeat;
          background-size: 100% 100%;
        }
        &.down{
          background: url(./../../image/c-down.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      h3{
        color: #3A86EA;
        font-size: 16px;
      }
      h6{
        font-weight: 400;
        font-size: 14px;
        color: $c33;
      }
      p{
        color: $c66;
        font-size: 12px;
        span{
          color: $red;
        }
      }
      &.deal{
        h3{
          color: #11AB5D;
        }
      }
      &.red{
        h3{
          color: $red;
        }
      }
      &:last-child{
        flex: 1.5;
        text-align: right;
      }
      &.flex3{
        flex: 3;
        text-align: left ;
      }
      .ant-btn{
          width: 90px;
          height: 40px;
          font-size: 14px;
          border-radius: 4px;
      }
      .ant-btn:hover,.ant-btn:focus{
        border: solid 1px $red !important;
        color: $red !important;
      }
      .ant-btn-primary{
        background: $red !important;
        border: solid 1px $red !important;
      }
      .ant-btn-primary:hover,.ant-btn-primary:focus{
        color: $fff !important;
      }
    }
    .transport-title{
      color: $red;
      margin-bottom: 0;
      font-size: 12px;
      position: absolute;
      left: 0;
      bottom: -18px;
    }
  }

  .failure-why-box{
    width: 100%;
    margin-top: 15px;
    .failure-why-content{
      border: solid 1px $borderBottom;
      padding: 30px;
      height: 120px;
      font-size: 12px;
      color: $c66;
    }
  }

  .father-order-details-information{
    width: 100%;
    margin-top: 15px;
    background: $fff;
    padding: 15px;
    padding-bottom: 45px;
    h3{
      color: $c33;
      font-size: 14px;
    }
    .common-title{
        height: 40px;
        width: 100%;
        background-color: #F2F2F2;
        margin-bottom: 20px;
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 40px;
            color: $c33;
            font-size: 14px;
            li{
                text-align: center;
                // flex: ;
                padding: 10px;
            }
            .w1{ flex: 2 1;width: 0; }
            .w2{ flex: 1 1; }
            .w3{ flex: 1 1; }
            .w4{ flex: 1 1; }
            .w5{ flex: 1 1; }
        }
    }
    .child-order-list{
      width: 100%;
      margin-bottom: 20px;
      border: solid 1px $borderBottom;
      .child-order-head{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        background: #ECECEC;
        div{
          flex: 2;
          padding-right: 15px;
          color: $c33;
          font-size: 14px;
          &:last-child{
            width: 100px;
            text-align: right;
          }
        }
        .supplier-name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
      }
      .child-order-content{
        display: flex;
        width: 100%;
        border-bottom: solid 1px $borderBottom;
        justify-items: center;
        div{
          flex: 1;
          text-align: center;
          border-right: solid 1px $borderBottom;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 120px;
          a{
            color: $c33;
            &:hover{
              color: $red;
            }
          }
          &:last-child{
            border-right: none;
          }
          &:first-child{
            flex: 2;
            display: flex;
            align-items: center;
            img{
              width: 90px;
              height: 90px;
              margin-right: 15px;
            }
            .child-order-goods{
              flex:1;
              max-width: 180px;
              display: flex;
              height: 80px;
              flex-direction: column;
              justify-items: center;
              p{
                color: $c99;
                font-size: 12px;
                width: 100%;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 30px;
                white-space: nowrap;
                a{
                  color: $c99;
                  color: #666;
                  &:hover{
                      color: $red;
                  }
                }
              }
            }
            .child-order-goods.father-order-goods {
                max-width: 180px !important;
            }
          }
        }
      }
      .child-order-note{
        padding: 10px;
        display: flex;
        span{
          width: 50px;
        }
        p{
          flex: 1;
          margin: 0;
        }
      }
    }
    .father-order-details-address-information{
      border: solid 1px $borderBottom;
      padding: 22px 0;
      display: flex;
      margin-bottom: 10px;
      justify-content: center;
      >div{
        flex: 1;
        min-height: 160px;
        padding: 0 20px;
        border-right: solid 1px $borderBottom;
        h2{
          font-size: 14px;
          color: $c33;
        }
        .p{
          display: flex;
          font-size: 12px;
          margin-bottom: 8px;
          span{
            color: $c66;
          }
          p{
            color: $c66;
            margin: 0;
            flex: 1;
            word-wrap:break-word;
            width: 0;
          }
          a{
            color: $c66;
            font-size: 12px;
            &:hover{
              color: $red;
            }
          }
        }

        &:last-child{
          border: none;
        }
      }
    }
    .father-order-file-list{
      border: solid 1px $borderBottom;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      .file-list{
        width: 49%;
        margin-right: 15px;
        display: flex;
        padding: 10px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: solid 1px $borderBottom;
        margin-bottom: 15px;
        &:nth-child(2n){
          margin-right: 0;
        }
        .file-list-img{
          width: 64px;
          height: 64px;
          border-radius: 4px;
          margin-right: 10px;
          text-align: center;
          background: url("./../../image/img_wj.png") no-repeat center center;
          background-size: 80% 80%;
          span{
            display: inline-block;
            background: $fff;
          }
          img{
            height: 64px;
          }
          .word{
            color: #1890FF;
          }
          .xlsx{
            color: #00A000;
          }
          .ppt,.pdf{
            color: #D01D00;
          }
          i{
            font-size: 60px;
          }
        }
        p{
          flex: 1;
          margin: 0;
          width: 100%;
          overflow: hidden;
          color: $c66;
          font-size: 12px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .father-order_info{
      margin-top: 20px;
      p{
        text-align: right;
        margin-bottom: 5px;
        span{
          width: 80px;
          text-align: right;
          display: inline-block;
        }
        b{
          color: $red;
          width: 80px;
          display: inline-block;
        }
      }
    }
  }
}
.order-invoice-info-more{
  p{
    font-size: 12px;
    color: $c66;
    margin-bottom: 5px;
  }
}