.addform{
    .ant-select-selection--single{
        height: 42px;
    }
    .ant-select-selection-selected-value{
        margin-top: 4px;
    }
    .ant-cascader-input.ant-input{
        height: 42px;
        border-radius: 4px;
    }
    input{
        height: 42px;
        width: 360px;
        border-radius: 4px;
    }
}